html,
body {
  min-height: 100%;  
}

body,
div,
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: black;
  line-height: 22px;
  
  
  
}
body:first-letter {text-transform: uppercase}
/* heading  */
h1 {
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    color: rgb(45, 173, 70);
  }
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
}
/* form styling  */
form {
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px #ccc;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}
select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}
textarea {
  width: calc(100% - 6px);
}
.item {
  position: relative;
  margin: 10px 0;
}
/* hover effect for all inputs  */
.item:hover p,
.item:hover i {
  color: #d30afb;
}
input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 5px 0 #035bea;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
}
.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
}
.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.btn-block {
  margin-top: 20px;
  text-align: center;
}
/* submit button styling  */
button {
  width: auto;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #0666a3;
}
/* for small secren  */
@media (min-width: 568px) {
  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }
  .city-item select {
    width: calc(50% - 8px);
  }
}
/* for validation  */
input {
  display: block;
  padding: 8px 16px;
  font-size: 2em;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}
for valid input
.valid {
  border-color: #36cc36;
}
/* for invalid input  */
.invalid {
  border-color: red;
}

input + p {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
  color: orange;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}